body {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    background-color: #f6f4f5;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-stroke: 1px transparent;
}

.links {
    color: rgba(246, 244, 245, 0.65);
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-decoration: none;
}

.links:hover {
    color: rgba(246, 244, 245, 1);
    text-decoration: none;
}

.links:focus {
    color: rgba(246, 244, 245, 1);
    text-decoration: none;
}

body.modal-open {
    overflow: visible;
}

/*Responsive styling below*/

.a {
    flex-wrap: wrap;
    order: 1;
    font-size: 35px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.b {
    flex-wrap: wrap;
    order: 2;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.c {
    flex-wrap: wrap;
    order: 3;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.d {
    flex-wrap: wrap;
    order: 4;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.e {
    flex-wrap: wrap;
    order: 5;
    font-size: 35px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.containerStyles {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 0 1 auto;
}

.container2Styles {
}

.imageStyles {
    max-height: 450px;
    width: auto;
    border-radius: 2px;
}

.imageStyles:hover {
    opacity: 0.75;
}

@media screen and (max-width: 768px) {
    .a {
        order: 1;
        flex: 0 0 50%;
    }

    .b {
        order: 3;
        flex: 0 0 33%;
    }

    .c {
        order: 4;
        flex: 0 0 33%;
    }

    .d {
        order: 5;
        flex: 0 0 33%;
    }

    .e {
        order: 2;
        flex: 0 0 50%;
    }

    .imageStyles {
        max-width: 480px;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .imageStyles {
        max-width: 375px;
        height: auto;
    }
}
